In [24]:
import os
import alpha_vantage

In [25]:
from dotenv import load_dotenv
import os

load_dotenv(dotenv_path='D:\Real Time Finance API Client\apikey.env')  
api_key = os.getenv("ALPHAVANTAGE_API_KEY")

print("API Key:", api_key)

API Key: JHXP8S1TOLVS5YLO

In [29]:
import requests
import time

base_url = "https://www.alphavantage.co/query"
stocks = ["AAPL", "GOOGL", "MSFT", "AMZN", "TSLA"]
all_data = {}

for symbol in stocks:
    params = {
        "function": "TIME_SERIES_DAILY",
        "symbol": symbol,
        "outputsize": "compact",
        "apikey": api_key
    }
    
    response = requests.get(base_url, params=params)
    data = response.json()
    all_data[symbol] = data
    
    print(f"Fetched data for {symbol}")
    
    # Add delay to respect API rate limits (Alpha Vantage free tier: 5 calls/minute)
    time.sleep(12)  # 12 seconds between calls = 5 calls per minute

print("\nAll data collected!")
# Access individual stock data like: all_data["AAPL"]

Fetched data for AAPL
Fetched data for GOOGL
Fetched data for MSFT
Fetched data for AMZN
Fetched data for TSLA

All data collected!

In [30]:
data

{'Meta Data': {'1. Information': 'Daily Prices (open, high, low, close) and Volumes',
  '2. Symbol': 'TSLA',
  '3. Last Refreshed': '2025-08-01',
  '4. Output Size': 'Compact',
  '5. Time Zone': 'US/Eastern'},
 'Time Series (Daily)': {'2025-08-01': {'1. open': '306.2050',
   '2. high': '309.3100',
   '3. low': '297.8200',
   '4. close': '302.6300',
   '5. volume': '89121446'},
  '2025-07-31': {'1. open': '319.6050',
   '2. high': '321.3700',
   '3. low': '306.1000',
   '4. close': '308.2700',
   '5. volume': '85270919'},
  '2025-07-30': {'1. open': '322.1800',
   '2. high': '324.4499',
   '3. low': '311.6164',
   '4. close': '319.0400',
   '5. volume': '83931942'},
  '2025-07-29': {'1. open': '325.5500',
   '2. high': '326.2500',
   '3. low': '318.2500',
   '4. close': '321.2000',
   '5. volume': '87358861'},
  '2025-07-28': {'1. open': '318.4500',
   '2. high': '330.4900',
   '3. low': '315.6900',
   '4. close': '325.5900',
   '5. volume': '112673755'},
  '2025-07-25': {'1. open': '308.7400',
   '2. high': '323.6300',
   '3. low': '308.0100',
   '4. close': '316.0600',
   '5. volume': '148227027'},
  '2025-07-24': {'1. open': '310.0000',
   '2. high': '310.1500',
   '3. low': '300.4100',
   '4. close': '305.3000',
   '5. volume': '156966023'},
  '2025-07-23': {'1. open': '330.9000',
   '2. high': '336.2000',
   '3. low': '328.6700',
   '4. close': '332.5600',
   '5. volume': '92553756'},
  '2025-07-22': {'1. open': '329.7400',
   '2. high': '335.4098',
   '3. low': '321.5500',
   '4. close': '332.1100',
   '5. volume': '77370371'},
  '2025-07-21': {'1. open': '334.4000',
   '2. high': '338.0000',
   '3. low': '326.8800',
   '4. close': '328.4900',
   '5. volume': '75768797'},
  '2025-07-18': {'1. open': '321.6600',
   '2. high': '330.9000',
   '3. low': '321.4200',
   '4. close': '329.6500',
   '5. volume': '94254993'},
  '2025-07-17': {'1. open': '323.1500',
   '2. high': '324.3400',
   '3. low': '317.0601',
   '4. close': '319.4100',
   '5. volume': '73922870'},
  '2025-07-16': {'1. open': '312.8000',
   '2. high': '323.5000',
   '3. low': '312.6200',
   '4. close': '321.6700',
   '5. volume': '97284786'},
  '2025-07-15': {'1. open': '319.6750',
   '2. high': '321.2000',
   '3. low': '310.5000',
   '4. close': '310.7800',
   '5. volume': '77556346'},
  '2025-07-14': {'1. open': '317.7300',
   '2. high': '322.5986',
   '3. low': '312.6700',
   '4. close': '316.9000',
   '5. volume': '78043430'},
  '2025-07-11': {'1. open': '307.8900',
   '2. high': '314.0900',
   '3. low': '305.6500',
   '4. close': '313.5100',
   '5. volume': '79236442'},
  '2025-07-10': {'1. open': '300.0500',
   '2. high': '310.4800',
   '3. low': '300.0000',
   '4. close': '309.8700',
   '5. volume': '104365271'},
  '2025-07-09': {'1. open': '297.5500',
   '2. high': '300.1500',
   '3. low': '293.5500',
   '4. close': '295.8800',
   '5. volume': '75586771'},
  '2025-07-08': {'1. open': '297.0000',
   '2. high': '304.0499',
   '3. low': '294.3500',
   '4. close': '297.8100',
   '5. volume': '103246742'},
  '2025-07-07': {'1. open': '291.3700',
   '2. high': '296.1500',
   '3. low': '288.7701',
   '4. close': '293.9400',
   '5. volume': '131177949'},
  '2025-07-03': {'1. open': '317.9900',
   '2. high': '318.4500',
   '3. low': '312.7600',
   '4. close': '315.3500',
   '5. volume': '58042302'},
  '2025-07-02': {'1. open': '312.6300',
   '2. high': '316.8320',
   '3. low': '303.8200',
   '4. close': '315.6500',
   '5. volume': '119483730'},
  '2025-07-01': {'1. open': '298.4600',
   '2. high': '305.8900',
   '3. low': '293.2100',
   '4. close': '300.7100',
   '5. volume': '145085665'},
  '2025-06-30': {'1. open': '319.9000',
   '2. high': '325.5799',
   '3. low': '316.6000',
   '4. close': '317.6600',
   '5. volume': '76695081'},
  '2025-06-27': {'1. open': '324.5100',
   '2. high': '329.3393',
   '3. low': '317.4950',
   '4. close': '323.6300',
   '5. volume': '89067049'},
  '2025-06-26': {'1. open': '324.6100',
   '2. high': '331.0500',
   '3. low': '323.6100',
   '4. close': '325.7800',
   '5. volume': '80440907'},
  '2025-06-25': {'1. open': '342.7000',
   '2. high': '343.0000',
   '3. low': '320.4000',
   '4. close': '327.5500',
   '5. volume': '119845050'},
  '2025-06-24': {'1. open': '356.1700',
   '2. high': '356.2600',
   '3. low': '340.4400',
   '4. close': '340.4700',
   '5. volume': '114736245'},
  '2025-06-23': {'1. open': '327.5400',
   '2. high': '357.5400',
   '3. low': '327.4800',
   '4. close': '348.6800',
   '5. volume': '190716815'},
  '2025-06-20': {'1. open': '327.9500',
   '2. high': '332.3600',
   '3. low': '317.7800',
   '4. close': '322.1600',
   '5. volume': '108688008'},
  '2025-06-18': {'1. open': '317.3100',
   '2. high': '329.3200',
   '3. low': '315.4500',
   '4. close': '322.0500',
   '5. volume': '95137686'},
  '2025-06-17': {'1. open': '326.0900',
   '2. high': '327.2600',
   '3. low': '314.7400',
   '4. close': '316.3500',
   '5. volume': '88282669'},
  '2025-06-16': {'1. open': '331.2900',
   '2. high': '332.0500',
   '3. low': '326.4100',
   '4. close': '329.1300',
   '5. volume': '83925858'},
  '2025-06-13': {'1. open': '313.9700',
   '2. high': '332.9900',
   '3. low': '313.3000',
   '4. close': '325.3100',
   '5. volume': '128964279'},
  '2025-06-12': {'1. open': '323.0750',
   '2. high': '332.5600',
   '3. low': '316.8600',
   '4. close': '319.1100',
   '5. volume': '105127536'},
  '2025-06-11': {'1. open': '334.3950',
   '2. high': '335.5000',
   '3. low': '322.5000',
   '4. close': '326.4300',
   '5. volume': '122611360'},
  '2025-06-10': {'1. open': '314.9400',
   '2. high': '327.8300',
   '3. low': '310.6670',
   '4. close': '326.0900',
   '5. volume': '151256520'},
  '2025-06-09': {'1. open': '285.9550',
   '2. high': '309.8300',
   '3. low': '281.8500',
   '4. close': '308.5800',
   '5. volume': '140908876'},
  '2025-06-06': {'1. open': '298.8300',
   '2. high': '305.5000',
   '3. low': '291.1400',
   '4. close': '295.1400',
   '5. volume': '164747685'},
  '2025-06-05': {'1. open': '322.4900',
   '2. high': '324.5499',
   '3. low': '273.2100',
   '4. close': '284.7000',
   '5. volume': '292818655'},
  '2025-06-04': {'1. open': '345.0950',
   '2. high': '345.6000',
   '3. low': '327.3308',
   '4. close': '332.0500',
   '5. volume': '98912075'},
  '2025-06-03': {'1. open': '346.5950',
   '2. high': '355.4000',
   '3. low': '343.0400',
   '4. close': '344.2700',
   '5. volume': '99324544'},
  '2025-06-02': {'1. open': '343.5000',
   '2. high': '348.0200',
   '3. low': '333.3300',
   '4. close': '342.6900',
   '5. volume': '81873829'},
  '2025-05-30': {'1. open': '355.5200',
   '2. high': '363.6800',
   '3. low': '345.2900',
   '4. close': '346.4600',
   '5. volume': '123474938'},
  '2025-05-29': {'1. open': '365.2900',
   '2. high': '367.7100',
   '3. low': '356.0000',
   '4. close': '358.4300',
   '5. volume': '88545666'},
  '2025-05-28': {'1. open': '364.8400',
   '2. high': '365.0000',
   '3. low': '355.9100',
   '4. close': '356.9000',
   '5. volume': '91404309'},
  '2025-05-27': {'1. open': '347.3500',
   '2. high': '363.7900',
   '3. low': '347.3200',
   '4. close': '362.8900',
   '5. volume': '120146414'},
  '2025-05-23': {'1. open': '337.9200',
   '2. high': '343.1800',
   '3. low': '333.2100',
   '4. close': '339.3400',
   '5. volume': '84654818'},
  '2025-05-22': {'1. open': '331.9000',
   '2. high': '347.2700',
   '3. low': '331.3900',
   '4. close': '341.0400',
   '5. volume': '97113416'},
  '2025-05-21': {'1. open': '344.4300',
   '2. high': '347.3500',
   '3. low': '332.2000',
   '4. close': '334.6200',
   '5. volume': '102354844'},
  '2025-05-20': {'1. open': '347.8700',
   '2. high': '354.9899',
   '3. low': '341.6300',
   '4. close': '343.8200',
   '5. volume': '131715548'},
  '2025-05-19': {'1. open': '336.3000',
   '2. high': '343.0000',
   '3. low': '333.3700',
   '4. close': '342.0900',
   '5. volume': '88869853'},
  '2025-05-16': {'1. open': '346.2400',
   '2. high': '351.6200',
   '3. low': '342.3300',
   '4. close': '349.9800',
   '5. volume': '95895665'},
  '2025-05-15': {'1. open': '340.3400',
   '2. high': '346.1393',
   '3. low': '334.7153',
   '4. close': '342.8200',
   '5. volume': '97882596'},
  '2025-05-14': {'1. open': '342.5000',
   '2. high': '350.0000',
   '3. low': '337.0000',
   '4. close': '347.6800',
   '5. volume': '136997264'},
  '2025-05-13': {'1. open': '320.0000',
   '2. high': '337.5894',
   '3. low': '316.8000',
   '4. close': '334.0700',
   '5. volume': '136992574'},
  '2025-05-12': {'1. open': '321.9900',
   '2. high': '322.2100',
   '3. low': '311.5000',
   '4. close': '318.3800',
   '5. volume': '112826661'},
  '2025-05-09': {'1. open': '290.2100',
   '2. high': '307.0400',
   '3. low': '290.0000',
   '4. close': '298.2600',
   '5. volume': '132387835'},
  '2025-05-08': {'1. open': '279.6300',
   '2. high': '289.8000',
   '3. low': '279.4100',
   '4. close': '284.8200',
   '5. volume': '97539448'},
  '2025-05-07': {'1. open': '276.8800',
   '2. high': '277.9200',
   '3. low': '271.0000',
   '4. close': '276.2200',
   '5. volume': '71882408'},
  '2025-05-06': {'1. open': '273.1050',
   '2. high': '277.7300',
   '3. low': '271.3500',
   '4. close': '275.3500',
   '5. volume': '76715792'},
  '2025-05-05': {'1. open': '284.5700',
   '2. high': '284.8490',
   '3. low': '274.4000',
   '4. close': '280.2600',
   '5. volume': '94618882'},
  '2025-05-02': {'1. open': '284.9000',
   '2. high': '294.7800',
   '3. low': '279.8100',
   '4. close': '287.2100',
   '5. volume': '114454683'},
  '2025-05-01': {'1. open': '280.0100',
   '2. high': '290.8688',
   '3. low': '279.8100',
   '4. close': '280.5200',
   '5. volume': '99658974'},
  '2025-04-30': {'1. open': '279.9000',
   '2. high': '284.4500',
   '3. low': '270.7800',
   '4. close': '282.1600',
   '5. volume': '128961057'},
  '2025-04-29': {'1. open': '285.5000',
   '2. high': '293.3200',
   '3. low': '279.4695',
   '4. close': '292.0300',
   '5. volume': '108906553'},
  '2025-04-28': {'1. open': '288.9800',
   '2. high': '294.8600',
   '3. low': '272.4200',
   '4. close': '285.8800',
   '5. volume': '151731771'},
  '2025-04-25': {'1. open': '261.6900',
   '2. high': '286.8500',
   '3. low': '259.6300',
   '4. close': '284.9500',
   '5. volume': '167560688'},
  '2025-04-24': {'1. open': '250.5000',
   '2. high': '259.5400',
   '3. low': '249.2000',
   '4. close': '259.5100',
   '5. volume': '94464195'},
  '2025-04-23': {'1. open': '254.8600',
   '2. high': '259.4499',
   '3. low': '244.4300',
   '4. close': '250.7400',
   '5. volume': '150381903'},
  '2025-04-22': {'1. open': '230.9600',
   '2. high': '242.7900',
   '3. low': '229.8501',
   '4. close': '237.9700',
   '5. volume': '120858452'},
  '2025-04-21': {'1. open': '230.2600',
   '2. high': '232.2100',
   '3. low': '222.7900',
   '4. close': '227.5000',
   '5. volume': '97768007'},
  '2025-04-17': {'1. open': '243.4700',
   '2. high': '244.3400',
   '3. low': '237.6833',
   '4. close': '241.3700',
   '5. volume': '83404775'},
  '2025-04-16': {'1. open': '247.6100',
   '2. high': '251.9700',
   '3. low': '233.8900',
   '4. close': '241.5500',
   '5. volume': '112378737'},
  '2025-04-15': {'1. open': '249.9100',
   '2. high': '258.7500',
   '3. low': '247.5400',
   '4. close': '254.1100',
   '5. volume': '79594318'},
  '2025-04-14': {'1. open': '258.3600',
   '2. high': '261.8000',
   '3. low': '245.9300',
   '4. close': '252.3500',
   '5. volume': '100135241'},
  '2025-04-11': {'1. open': '251.8400',
   '2. high': '257.7400',
   '3. low': '241.3629',
   '4. close': '252.3100',
   '5. volume': '128948085'},
  '2025-04-10': {'1. open': '260.0000',
   '2. high': '262.4900',
   '3. low': '239.3300',
   '4. close': '252.4000',
   '5. volume': '181722604'},
  '2025-04-09': {'1. open': '224.6900',
   '2. high': '274.6900',
   '3. low': '223.8800',
   '4. close': '272.2000',
   '5. volume': '219433373'},
  '2025-04-08': {'1. open': '245.0000',
   '2. high': '250.4400',
   '3. low': '217.8000',
   '4. close': '221.8600',
   '5. volume': '171603472'},
  '2025-04-07': {'1. open': '223.7800',
   '2. high': '252.0000',
   '3. low': '214.2500',
   '4. close': '233.2900',
   '5. volume': '183453776'},
  '2025-04-04': {'1. open': '255.3800',
   '2. high': '261.0000',
   '3. low': '236.0000',
   '4. close': '239.4300',
   '5. volume': '181229353'},
  '2025-04-03': {'1. open': '265.2900',
   '2. high': '276.3000',
   '3. low': '261.5100',
   '4. close': '267.2800',
   '5. volume': '136174291'},
  '2025-04-02': {'1. open': '254.6000',
   '2. high': '284.9900',
   '3. low': '251.2700',
   '4. close': '282.7600',
   '5. volume': '212787817'},
  '2025-04-01': {'1. open': '263.8000',
   '2. high': '277.4500',
   '3. low': '259.2500',
   '4. close': '268.4600',
   '5. volume': '146486911'},
  '2025-03-31': {'1. open': '249.3100',
   '2. high': '260.5600',
   '3. low': '243.3601',
   '4. close': '259.1600',
   '5. volume': '134008936'},
  '2025-03-28': {'1. open': '275.5750',
   '2. high': '276.1000',
   '3. low': '260.5700',
   '4. close': '263.5500',
   '5. volume': '123809389'},
  '2025-03-27': {'1. open': '272.4800',
   '2. high': '291.8500',
   '3. low': '271.8216',
   '4. close': '273.1300',
   '5. volume': '162572146'},
  '2025-03-26': {'1. open': '282.6600',
   '2. high': '284.9000',
   '3. low': '266.5100',
   '4. close': '272.0600',
   '5. volume': '156254441'},
  '2025-03-25': {'1. open': '283.6000',
   '2. high': '288.2000',
   '3. low': '271.2800',
   '4. close': '288.1400',
   '5. volume': '150361538'},
  '2025-03-24': {'1. open': '258.0750',
   '2. high': '278.6400',
   '3. low': '256.3300',
   '4. close': '278.3900',
   '5. volume': '169079865'},
  '2025-03-21': {'1. open': '234.9850',
   '2. high': '249.5200',
   '3. low': '234.5500',
   '4. close': '248.7100',
   '5. volume': '132728684'},
  '2025-03-20': {'1. open': '233.3450',
   '2. high': '238.0000',
   '3. low': '230.0501',
   '4. close': '236.2600',
   '5. volume': '99028270'},
  '2025-03-19': {'1. open': '231.6100',
   '2. high': '241.4100',
   '3. low': '229.2010',
   '4. close': '235.8600',
   '5. volume': '111993753'},
  '2025-03-18': {'1. open': '228.1550',
   '2. high': '230.1000',
   '3. low': '222.2800',
   '4. close': '225.3100',
   '5. volume': '111477636'},
  '2025-03-17': {'1. open': '245.0550',
   '2. high': '245.4000',
   '3. low': '232.8000',
   '4. close': '238.0100',
   '5. volume': '111900565'},
  '2025-03-14': {'1. open': '247.3100',
   '2. high': '251.5800',
   '3. low': '240.7300',
   '4. close': '249.9800',
   '5. volume': '100242264'},
  '2025-03-13': {'1. open': '248.1250',
   '2. high': '248.2900',
   '3. low': '232.6000',
   '4. close': '240.6800',
   '5. volume': '114813525'},
  '2025-03-12': {'1. open': '247.2200',
   '2. high': '251.8400',
   '3. low': '241.1000',
   '4. close': '248.0900',
   '5. volume': '142215681'},
  '2025-03-11': {'1. open': '225.3050',
   '2. high': '237.0649',
   '3. low': '217.0200',
   '4. close': '230.5800',
   '5. volume': '174896415'}}}

In [43]:
import pandas as pd

cleaned_data = {}

for symbol, raw_data in all_data.items():
    try:
        ts_data = raw_data['Time Series (Daily)']
        df = pd.DataFrame.from_dict(ts_data, orient='index')
        df = df.rename(columns={
            '1. open': 'Open',
            '2. high': 'High',
            '3. low': 'Low',
            '4. close': 'Close',
            '5. volume': 'Volume'
        })
        df.index = pd.to_datetime(df.index)
        df = df.astype(float).sort_index()
        cleaned_data[symbol] = df
    except KeyError:
        print(f"Error fetching or parsing data for {symbol}")

combined_df = pd.concat(cleaned_data.values(), axis=1, keys=cleaned_data.keys())

print(combined_df.head())

               AAPL                                          GOOGL            \
               Open      High     Low   Close      Volume     Open      High
2025-03-11  223.805  225.8399  217.45  220.84  76137410.0  164.910  166.7500
2025-03-12  220.140  221.7500  214.91  216.98  62547467.0  166.580  167.6399
2025-03-13  215.950  216.8394  208.42  209.68  61368330.0  166.035  166.1300
2025-03-14  211.250  213.9500  209.58  213.49  60107582.0  163.270  166.4900
2025-03-17  213.310  215.2200  209.97  214.00  48073426.0  165.030  166.3000

                                        ...     AMZN                      \
               Low   Close      Volume  ...     Open      High       Low
2025-03-11  161.37  164.04  39587414.0  ...  193.900  200.1800  193.4000
2025-03-12  163.53  167.11  28372396.0  ...  200.720  201.5200  195.2900
2025-03-13  162.11  162.76  31756214.0  ...  198.165  198.8799  191.8200
2025-03-14  162.45  165.49  31995894.0  ...  197.410  198.6500  195.3200
2025-03-17  163.67  164.29  31184335.0  ...  198.770  199.0000  194.3247

                                   TSLA
             Close      Volume     Open      High     Low   Close       Volume
2025-03-11  196.59  54002880.0  225.305  237.0649  217.02  230.58  174896415.0
2025-03-12  198.89  43679284.0  247.220  251.8400  241.10  248.09  142215681.0
2025-03-13  193.89  41270761.0  248.125  248.2900  232.60  240.68  114813525.0
2025-03-14  197.95  38096663.0  247.310  251.5800  240.73  249.98  100242264.0
2025-03-17  195.74  47341752.0  245.055  245.4000  232.80  238.01  111900565.0

[5 rows x 25 columns]

In [44]:
combined_df

               AAPL                                           GOOGL            \
               Open      High     Low   Close       Volume     Open      High
2025-03-11  223.805  225.8399  217.45  220.84   76137410.0  164.910  166.7500
2025-03-12  220.140  221.7500  214.91  216.98   62547467.0  166.580  167.6399
2025-03-13  215.950  216.8394  208.42  209.68   61368330.0  166.035  166.1300
2025-03-14  211.250  213.9500  209.58  213.49   60107582.0  163.270  166.4900
2025-03-17  213.310  215.2200  209.97  214.00   48073426.0  165.030  166.3000
...             ...       ...     ...     ...          ...      ...       ...
2025-07-28  214.030  214.8450  213.06  214.05   37858017.0  193.650  194.0500
2025-07-29  214.175  214.8100  210.82  211.27   51411723.0  192.430  195.9200
2025-07-30  211.895  212.3900  207.72  209.05   45512514.0  195.600  197.5999
2025-07-31  208.490  209.8400  207.16  207.57   80698431.0  195.710  195.9900
2025-08-01  210.865  213.5800  201.50  202.38  104434473.0  189.025  190.8300

                                         ...     AMZN                      \
                Low   Close      Volume  ...     Open      High       Low
2025-03-11  161.370  164.04  39587414.0  ...  193.900  200.1800  193.4000
2025-03-12  163.530  167.11  28372396.0  ...  200.720  201.5200  195.2900
2025-03-13  162.110  162.76  31756214.0  ...  198.165  198.8799  191.8200
2025-03-14  162.450  165.49  31995894.0  ...  197.410  198.6500  195.3200
2025-03-17  163.670  164.29  31184335.0  ...  198.770  199.0000  194.3247
...             ...     ...         ...  ...      ...       ...       ...
2025-07-28  190.840  192.58  38139504.0  ...  233.350  234.2900  232.2500
2025-07-29  192.080  195.75  41389153.0  ...  234.150  234.7200  230.3100
2025-07-30  194.685  196.53  32445405.0  ...  231.640  231.8000  229.2900
2025-07-31  191.090  191.90  51329163.0  ...  235.770  236.5300  231.4000
2025-08-01  187.820  189.13  34832181.0  ...  217.210  220.4399  212.8000

                                    TSLA                              \
             Close       Volume     Open      High       Low   Close
2025-03-11  196.59   54002880.0  225.305  237.0649  217.0200  230.58
2025-03-12  198.89   43679284.0  247.220  251.8400  241.1000  248.09
2025-03-13  193.89   41270761.0  248.125  248.2900  232.6000  240.68
2025-03-14  197.95   38096663.0  247.310  251.5800  240.7300  249.98
2025-03-17  195.74   47341752.0  245.055  245.4000  232.8000  238.01
...            ...          ...      ...       ...       ...     ...
2025-07-28  232.79   26300138.0  318.450  330.4900  315.6900  325.59
2025-07-29  231.01   33716220.0  325.550  326.2500  318.2500  321.20
2025-07-30  230.19   32993273.0  322.180  324.4499  311.6164  319.04
2025-07-31  234.11  104357263.0  319.605  321.3700  306.1000  308.27
2025-08-01  214.75  122258801.0  306.205  309.3100  297.8200  302.63


                 Volume
2025-03-11  174896415.0
2025-03-12  142215681.0
2025-03-13  114813525.0
2025-03-14  100242264.0
2025-03-17  111900565.0
...                 ...
2025-07-28  112673755.0
2025-07-29   87358861.0
2025-07-30   83931942.0
2025-07-31   85270919.0
2025-08-01   89121446.0

[100 rows x 25 columns]

In [45]:
combined_df.shape

(100, 25)

In [46]:
combined_df.describe()

             AAPL                                                    \
             Open        High         Low       Close        Volume
count  100.000000  100.000000  100.000000  100.000000  1.000000e+02
mean   206.235380  209.052718  203.750470  206.366300  5.891664e+07
std      9.246654    8.103700    9.778488    9.062194  2.607704e+07
min    171.950000  190.335000  169.210100  172.420000  3.449358e+07
25%    200.597500  202.555000  198.485000  200.390000  4.420077e+07
50%    207.790000  209.795000  204.645000  207.695000  5.100780e+07
75%    212.111250  214.582500  209.887500  212.485000  6.285455e+07
max    223.805000  225.839900  221.020000  223.890000  1.843959e+08

            GOOGL                                                   ...  \
             Open       High         Low       Close        Volume  ...
count  100.000000  100.00000  100.000000  100.000000  1.000000e+02  ...
mean   168.538750  170.74622  166.253410  168.560900  4.043636e+07  ...
std     12.186303   11.71734   12.405674   12.151839  1.737974e+07  ...
min    141.550000  148.94500  140.530000  144.700000  2.094187e+07  ...
25%    160.418750  161.91750  157.320000  160.002500  2.965279e+07  ...
50%    166.992500  168.48750  165.210000  166.705000  3.453346e+07  ...
75%    175.708750  178.06975  174.430000  176.327500  4.582583e+07  ...
max    197.030000  197.95000  194.685000  196.530000  1.277476e+08  ...

             AMZN                                                    \
             Open        High         Low       Close        Volume
count  100.000000  100.000000  100.000000  100.000000  1.000000e+02
mean   203.953580  206.695366  201.394307  204.194400  4.751967e+07
std     17.395997   16.157075   17.903235   16.913487  2.202266e+07
min    162.000000  169.600000  161.380000  167.320000  2.630014e+07
25%    190.498750  193.667500  187.425000  191.835000  3.336620e+07
50%    205.407500  206.770000  202.676500  205.645000  4.006503e+07
75%    217.260000  218.909975  214.252500  217.242500  5.190130e+07
max    235.770000  236.530000  232.250000  234.110000  1.231594e+08

             TSLA
             Open        High         Low       Close        Volume
count  100.000000  100.000000  100.000000  100.000000  1.000000e+02
mean   296.116250  303.928305  288.879233  296.993900  1.183011e+08
std     38.814429   37.502383   39.149947   37.605521  3.784469e+07
min    223.780000  230.100000  214.250000  221.860000  5.804230e+07
25%    259.590000  276.250000  255.065000  268.165000  9.083359e+07
50%    303.127500  309.990000  296.085000  303.965000  1.116891e+08
75%    325.685000  332.410000  318.787500  326.175000  1.369937e+08
max    365.290000  367.710000  356.000000  362.890000  2.928187e+08

[8 rows x 25 columns]

In [47]:
combined_df.isnull().sum()

AAPL   Open      0
       High      0
       Low       0
       Close     0
       Volume    0
GOOGL  Open      0
       High      0
       Low       0
       Close     0
       Volume    0
MSFT   Open      0
       High      0
       Low       0
       Close     0
       Volume    0
AMZN   Open      0
       High      0
       Low       0
       Close     0
       Volume    0
TSLA   Open      0
       High      0
       Low       0
       Close     0
       Volume    0
dtype: int64

In [48]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 100 entries, 2025-03-11 to 2025-08-01
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   (AAPL, Open)     100 non-null    float64
 1   (AAPL, High)     100 non-null    float64
 2   (AAPL, Low)      100 non-null    float64
 3   (AAPL, Close)    100 non-null    float64
 4   (AAPL, Volume)   100 non-null    float64
 5   (GOOGL, Open)    100 non-null    float64
 6   (GOOGL, High)    100 non-null    float64
 7   (GOOGL, Low)     100 non-null    float64
 8   (GOOGL, Close)   100 non-null    float64
 9   (GOOGL, Volume)  100 non-null    float64
 10  (MSFT, Open)     100 non-null    float64
 11  (MSFT, High)     100 non-null    float64
 12  (MSFT, Low)      100 non-null    float64
 13  (MSFT, Close)    100 non-null    float64
 14  (MSFT, Volume)   100 non-null    float64
 15  (AMZN, Open)     100 non-null    float64
 16  (AMZN, High)     100 non-null    float64
 17  (AMZN, Low)      100 non-null    float64
 18  (AMZN, Close)    100 non-null    float64
 19  (AMZN, Volume)   100 non-null    float64
 20  (TSLA, Open)     100 non-null    float64
 21  (TSLA, High)     100 non-null    float64
 22  (TSLA, Low)      100 non-null    float64
 23  (TSLA, Close)    100 non-null    float64
 24  (TSLA, Volume)   100 non-null    float64
dtypes: float64(25)
memory usage: 20.3 KB